body {
    cursor: default;
    margin: 0; /* Counteracting defaults */
    background-color: #000000;
    text-rendering: geometricPrecision;
}

p {margin: 0;} /* Counteracting defaults */

a {
    color: inherit;
    text-decoration: none;
}

#full-top {
    height: 100vh;
    overflow: hidden;
}

#montage {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    mix-blend-mode: difference;
    z-index: -1;
}

#huge-ass-mf-label {

    /* Display centered over video */
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

    /* Set font */
    font-family: 'Jost', system-ui, sans-serif;
    font-weight: 300;
    font-size: 10vw;
    letter-spacing: -0.04em;

    /* Invert color against background */
    color: #FFFFFF;
    mix-blend-mode: difference;
}

#nav-links {
    position: fixed;
    left: 18px;
    top: 18px;
    color: #FFFFFF;
    mix-blend-mode: difference;
}

#everything-else {
    padding: 144px 36px 144px 108px;
    background-color: #FFFFFF;
    font-family: 'Source Sans 3', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #000000;
    font-weight: 375;
    font-size: 18px;
    white-space: nowrap;
    letter-spacing: 0.05px;
}

.dropdown {
    margin-bottom: 72px;
}

.dropped-down {
    /* height: 0; */
    margin-left: 72px;
    overflow: scroll;
}

.drop-header {
    margin: 0;
    font-family: 'Jost', system-ui, sans-serif;
    font-weight: 450;
    font-size: 72px;
    letter-spacing: -0.04em;
}

.thing-place-info {
    position: relative;
    margin-top: 36px;
    height: 160px;
    overflow: hidden;
}

.top-line {
    overflow-x: scroll;
    overflow-y: visible;
    margin-bottom: -8px;
}

.thing {
    font-family: 'Times New Roman', serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.75px;
    display: inline;
}

.time {
    font-size: 27px;
    font-weight: 300;
    display: inline;
    margin-left: 24px;
    color: #444444;
}

.place {
    margin-bottom: 4px;
}

.info {
    overflow-x: scroll;
    margin-left: 72px;
    color: #333333;
}

/* .image-link {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20vw;
}

.thumbnail {
    opacity: 0.2;
    transition: opacity 0.5s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.thumbnail:hover {
    opacity: 1;
} */